#theme = catppuccin-mocha
# theme = dark:Apple System Colors,light:Apple System Colors Light
# theme = dark:Everforest Dark Hard,light:Everforest Light Med
# theme = dark:Rose Pine,light:Rose Pine Dawn
theme = dark:Catppuccin Mocha,light: Catppuccin Latte

# font-family = JetBrains Mono
# font-family = Iosevka Fixed
# font-family = Monaco
# font-family = Source Code Pro
# font-family = 0xProto Nerd Font Mono
font-family = ZedMono Nerd Font Mono
# font-family = Zed Mono
# font-family = Iosevka Fixed
font-size = 16
# font-thicken = true
# Disable ligatures
font-feature = -dlig
font-feature = -liga
font-feature = -calt

maximize = true

keybind = cmd+j=text:\x1b[B
keybind = cmd+k=text:\x1b[A
keybind = cmd+w=text:\x1bw
keybind = cmd+o=text:\x1bo
keybind = cmd+r=text:\x1br
keybind = cmd+h=text:\x1bh
keybind = cmd+l=text:\x1bl
keybind = cmd+f=text:\x1bf
keybind = cmd+h=ignore

keybind = cmd+alt+o=text:\x1b\x0f

keybind = cmd+shift+j=text:\x1bJ
keybind = cmd+shift+k=text:\x1bK
keybind = cmd+shift+f=text:\x1bF
keybind = cmd+shift+o=text:\x1bO
keybind = cmd+shift+c=text:\x1bC
keybind = cmd+shift+physical:one=text:\x1b!
keybind = cmd+physical:one=text:\x1b1
