set easymotion
set surround
set commentary
set clipboard+=unnamed

let mapleader = ","

nmap <leader><leader>s :action KJumpAction<cr>
nmap <leader><leader>w :action KJumpAction.Word0<cr>
nmap <leader><leader>l :action KJumpAction.Line<cr>

nmap <leader>c :q<cr>
imap jj <esc><cr>
