snippet wr "w http.ResponseWriter, r *http.Request"
w http.ResponseWriter, r *http.Request
endsnippet

snippet fwr "w http.ResponseWriter, r *http.Request"
func(w http.ResponseWriter, r *http.Request){
	${0}
}
endsnippet
